@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styling for dark mode */
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
}

/* Background image for the app */
body {
  background-color: transparent;
  background-image: url('bg.jpg')!important; ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
